@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    font-display: swap;
    src: url('https://rsms.me/inter/font-files/Inter.var.woff2?3.13') format('woff2');
}

@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-style: italic;
    font-named-instance: 'Italic';
    font-display: swap;
    src: url('https://rsms.me/inter/font-files/Inter-italic.var.woff2?3.13') format('woff2');
}

@font-face {
    font-family: 'Eurostile Extended Bold';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/EurostileExt-Bla.otf') format('truetype'),
         url('/fonts/EurostileExt-Bla.woff') format('woff'),
         url('/fonts/EurostileExt-Bla.woff2') format('woff2');
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
    position: relative;
    overflow: hidden;

    &::after {
        @apply rounded;
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url('/images/header.jpg');
        background-size: cover;
        filter: opacity(75%) blur(10px);
        transform: scale(1.15);
        z-index: -1;
      }
}

.hover-contrast {
    filter: contrast(100%);

    &:hover {
        filter: contrast(200%);
    }
}

.font-eurostile-extended {
    font-family: 'Eurostile Extended Bold';
}

input[type="range"]::-webkit-slider-thumb {
    width: 8px;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #FFF;
    box-shadow: 405px 0 0 400px rgba(0, 0, 0, .70);
    border-radius: 50%;
}